{% extends "app/layout.html" %}

{% block content %}

<div class="animated animatedFadeInUp fadeInUp">
	<p>«OnlyCars»</p><br>

<p>Основными направлениями деятельности «OnlyCars» являются:</p>
<ul>
	<li>Продажа автомобилей</li>
	<li>Гарантийный ремонт автомобилей</li>
	<li>Техническое обслуживание</li>
	<li>Продажа автозапчастей</li>
</ul>
<p>«OnlyCars» — это базовое предприятие  и мультибрендовый официальный дилер. У нас представлены автомобили более 40 популярных зарубежных и отечественных марок.</p>

<p>В дилерском центре «OnlyCars» Вы сможете:</p>
<ul>
	<li>Выгодно купить автомобиль в кредит. У нас большой выбор кредитных программ от банков-партнеров.</li>
	<li>Надежно застраховать автомобиль. Отличные предложения по КАСКО и ОСАГО от ведущих страховых компаний</li>
	<li>Произвести ремонт автомобиля на выгодных условиях и в кредит.</></li>
	<li>Приобрести оригинальные запчасти любым способом оплаты и в кредит. Всегда в наличии более 17 000 запчастей.</li>
	<li>Зарегистрировать автомобиль в ГИБДД</li>
</ul>


<p>Более 20 лет безупречной репутации и успешной работы. Компания «OnlyCars» основана 32 февраля 2222 года, за это время мы обслужили огромное количество корпоративных и частных клиентов, получив огромное количество добрых откликов.</p>

<p>Большой ассортимент новых и бу автомобилей. В нашем автосалоне можете приобрести новые машины и автомобили с пробегом. Все модели б/у прошли юридическую проверку и диагностику в специализированных сервисных центрах и находятся в отличном техническом состоянии.</p>

<p>Мы прилагаем все усилия для того, чтобы покупка или ремонт автомобиля стали для Вас доступными, а процесс обслуживания в нашем автоцентре — приятным время провождением.</p>
</div>



{% endblock %}
